* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --green: #426b1f;
  --gray: #6d6d6d;
  --bg: #fafaf5;
  --white: white;
  --black: black;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.hero {
  padding: 100px 0;
  text-align: center;
}
.hero h1 {
  font-family: "Newsreader", serif;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: -2%;
  font-weight: normal;
}
.hero .our-shop-btn {
  display: block;
  width: fit-content;
  padding: 10px;
  margin: 54px auto;
  line-height: 130%;
  font-size: 20px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: var(--white);
  background-color: var(--green);
  border-radius: 8px;
}
.some-vegetables .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.some-vegetables .vegetables {
  margin-left: 40px;
}
.some-vegetables .banger-image {
  width: 50%;
}
.some-vegetables .banger-image figcaption {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -1%;
}
.what-we-believe {
  padding-top: 60px;
  padding-bottom: 20px;
  font-family: "Inter", sans-serif;
}
.what-we-believe .container {
  display: flex;
  /* flex-wrap: wrap; */
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
}
.what-we-believe h2 {
  width: 181px;
  font-size: 14px;
  letter-spacing: 4%;
  text-transform: uppercase;
}
.what-we-believe article {
  width: 822px;
  font-size: 20px;
}
.what-we-believe article p {
  line-height: 160%;
}
