* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --green: #426b1f;
  --gray: #6d6d6d;
  --bg: #fafaf5;
  --white: white;
  --black: black;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: var(--white);
}
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .logo a {
  text-decoration: none;
  font-family: "Newsreader", serif;
  font-size: 32px;
  color: var(--green);
}
header nav {
  position: relative;
}
header nav label img {
  cursor: pointer;
}
header nav input {
  appearance: none;
}
header nav ul {
  position: absolute;
  right: 0;
  list-style: none;
}
header nav ul li a {
  padding: 10px;
  text-decoration: none;
  line-height: 130%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: var(--black);
}
header nav ul li .cart-btn {
  color: var(--white);
  background-color: var(--green);
  border-radius: 8px;
}
@media (min-width: 992px) {
  header nav label,
  header nav input {
    display: none;
  }
  header nav ul {
    display: flex;
  }
}
