* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --green: #426b1f;
  --gray: #6d6d6d;
  --bg: #fafaf5;
  --white: white;
  --black: black;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.heading .container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
.heading h1 {
  margin: 0 24px 16px 0;
  letter-spacing: -2%;
  line-height: 120%;
  font-size: 64px;
  font-family: "Newsreader", serif;
}
.basket .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  gap: 30px;
}
.basket .product-list {
  flex-grow: 1;
}
.basket .product-list .product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: var(--bg);
  border: 1px solid #e6e6e6;
  border-radius: 24px;
  overflow: hidden;
}
.basket .product-list .product .product-details {
  display: flex;
  align-items: center;
  gap: 20px;
}
.basket .product-list .product .product-details .product-image {
  height: 100%;
}
.basket .product-list .product .product-details img {
  height: 100%;
}
.basket .product-info .weight {
  margin-top: 10px;
}
.basket .product-info .weight span {
  display: block;
  background-color: var(--white);
  color: var(--black);
  border-radius: 20px;
  border: 1px solid #e6e6e6;
  text-align: center;
  line-height: 40px;
  width: 128px;
  height: 40px;
}
.basket .price-vs-weight {
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: var(--green);
  margin-top: 20px;
}
.basket .price {
  padding: 40px 20px;
}
.order-summary {
  flex-grow: 1;
  align-self: start;
  padding: 20px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  background-color: var(--bg);
}
.order-summary ul {
  list-style: none;
}
.order-summary ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.order-summary .payment {
  display: block;
  padding: 10px;
  color: var(--white);
  background-color: var(--green);
  border-radius: 8px;
}
